.App {
  position: fixed;
  /* display: flex; */
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* font-size: '9px' */
}
.eventBox {
  background-color: white;
  width: 350px;
  margin-left: 10px;
}
abbr {
  text-decoration: none !important;
}
::-webkit-input-placeholder {
  font-size: 13px !important;
}
.header {
  margin-bottom: 50px;
  font-size: 20px;
  text-align: left;
  font-style: italic;
  letter-spacing: 1px;
  font-weight: 500;
}
.logout {
  font-weight: 100;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  background-color: #B33F40;
  color: white;
}